@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Preahvihear", serif;;
} 

.container{
    width: 100%;
    height: 100vh;
    background: #e3feff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: linear-gradient(135deg, rgba(1,0,135,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
width: 145px;
background: linear-gradient(135deg, #7be67f, #45a049);
color: #fff;
}

form input.operator{
    background: linear-gradient(135deg, #FFA500, #FF6347);
    color: #fff;
}

form input.ac-operator{
    background: #FF0000;
    color: #fff;
}

form input.del-operator{
    background: linear-gradient(135deg, #f72804, #ff8c00);
    color: #fff;
}

form input.number{
    background: linear-gradient(135deg, #ec3de4, #4d47ff); );
    color: #fff;
}